<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="img/favicon.png" type="image/png" />
    <title>Eden Megazine</title>

    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
  </head>
  <body>
    <app-header></app-header>
    <section
      class="fullwidth-block area-padding-bottom"
      style="margin-top: 5rem"
    >
      <div class="container-fluid">
        <div class="row">
          <!-- <div *ngFor="let a of articles" class="col-md-5 col-lg-6 col-xl-5">
            <div class="single-blog">
              <div class="thumb">
                <img
                  class="img-fluid"
                  src="http://127.0.0.1:5500/backend/uploads/{{ a.image }}"
                  alt=""
                />
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#">{{ a.Category.name }}</a>
                </div> -->
                <!-- <a class="d-block" href="/article/{{ a._id }}">
                  <h4>{{ a.Title }}</h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#">{{ a.createdAt | date: "fullDate" }} </a>
                  <!-- <a class="dark_font" href="#">By Alen Mark</a>  -->
                <!-- </div>
              </div>
            </div>
          </div> --> -->

          <!-- <div class="col-md-6 col-lg-6 col-xl-4">
            <div class="single-blog style_two">
              <div class="thumb">
                <img
                  class="img-fluid"
                  src="../../assets/images/bg-6.jpg"
                  alt=""
                />
              </div>
              <div class="short_details text-center">
                <div class="meta-top d-flex justify-content-center">
                  <a href="#">Tours & Travel</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>
                    Created face stars sixth forth fow Earth firmament meat
                  </h4>
                </a>
                <div class="meta-bottom d-flex justify-content-center">
                  <a href="#">March 12 , 2019 . </a>
                  <a href="#">By Alen Mark</a>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div *ngFor="let a of articles" class="col-lg-12 col-xl-3">
            <div class="row">
              <div
                *ngFor="let a of articles"
                class="col-12 col-md-6 col-lg-6 col-xl-12"
              >
                <div class="single-blog style-three m_b_30">
                  <div class="thumb">
                    <img
                      class="img-fluid"
                      src="../../assets/images/3.jpg"
                      alt=""
                    />
                  </div>
                  <div class="short_details">
                    <div class="meta-top d-flex justify-content-center">
                      <a href="#">{{ a.Category.name }}</a>
                    </div>
                    <a class="d-block" href="single-blog.html">
                      <h4>{{ a.Title }}</h4>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6 col-xl-12">
                <div class="single-blog style-three">
                  <div class="thumb">
                    <img
                      class="img-fluid"
                      src="../../assets/images/bg-5.jpg"
                      alt=""
                    />
                  </div>
                  <div class="short_details">
                    <div class="meta-top d-flex justify-content-center">
                      <a href="#">Lifestyle</a>
                    </div>
                    <a class="d-block" href="single-blog.html">
                      <h4>The abundantly brought after day fish there image</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </section>

    <!--================Fullwidth block Area end =================-->

    <!--================ First block section start =================-->

    <section class="first_block">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-xl-6">
            <div class="single-blog row no-gutters style-four border_one">
              <div class="col-12 col-sm-5">
                <div class="thumb">
                  <img
                    class="img-fluid"
                    src="../../assets/images/bg-4.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-12 col-sm-7">
                <div class="short_details">
                  <div class="meta-top d-flex">
                    <a href="#">Tours & Travel</a>
                  </div>
                  <a class="d-block" href="single-blog.html">
                    <h4>
                      Brought all day domi nion appear from subdue dominion
                      firmament over face
                    </h4>
                  </a>
                  <div class="meta-bottom d-flex">
                    <a href="#">March 12 , 2019 . </a>
                    <a class="dark_font" href="#">By Alen Mark</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-xl-3">
            <div class="single-blog style_five">
              <div class="thumb">
                <img
                  class="img-fluid"
                  src="../../assets/images/bg-7.jpg"
                  alt=""
                />
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#">Tours & Travel</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>Abundantly forth late appear fourth us.</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-xl-3">
            <div class="single-blog style_five">
              <div class="thumb">
                <img class="img-fluid" src="../../assets/images/7.jpg" alt="" />
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#">Tours & Travel</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>Abundantly forth late appear fourth us.</h4>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ First block section end =================-->

    <!--================ Editors Picks section start =================-->

    <section class="editors_pick area-padding">
      <div class="container">
        <div class="row">
          <div class="area-heading">
            <h3>Editor Picks</h3>
            <p>
              Abundantly creeping saw forth spirit can made appear fourth us.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-xl-6">
            <div class="single-blog">
              <div class="thumb">
                <img class="img-fluid" src="../../assets/images/8.jpg" alt="" />
              </div>
              <div class="short_details pad_25">
                <div class="meta-top d-flex">
                  <a href="#">Tours & Travel</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>Created face stars sixth forth Earth firmament</h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#">March 12 , 2019 . </a>
                  <a class="dark_font" href="#">By Alen Mark</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-xl-6">
            <div class="single-blog row no-gutters style-four m_b_30">
              <div class="col-12 col-sm-7">
                <div class="short_details padd_left_0">
                  <div class="meta-top d-flex">
                    <a href="#">Tours & Travel</a>
                  </div>
                  <a class="d-block" href="single-blog.html">
                    <h4 class="font-20">
                      Light that hath itself god grass herb dark sea on the hath
                      dowe
                    </h4>
                  </a>
                  <p>
                    Said spirit evening above good twes at god midst deep a
                    wherein very made he seas male very broug sad forth saying
                    right.
                  </p>
                </div>
              </div>
              <div class="col-12 col-sm-5">
                <div class="thumb">
                  <img
                    class="img-fluid"
                    src="../../assets/images/bg-9.jpg"
                    alt=""
                  />
                </div>
              </div>
            </div>

            <div class="single-blog row no-gutters style-four">
              <div class="col-12 col-sm-5">
                <div class="thumb">
                  <img
                    class="img-fluid"
                    src="../../assets/images/bg-10.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="col-12 col-sm-7">
                <div class="short_details padd_right_0">
                  <div class="meta-top d-flex">
                    <a href="#">Tours & Travel</a>
                  </div>
                  <a class="d-block" href="single-blog.html">
                    <h4 class="font-20">
                      Light that hath itself god grass herb dark sea on the hath
                      dowe
                    </h4>
                  </a>
                  <p>
                    Said spirit evening above good twes at god midst deep a
                    wherein very made he seas male very broug sad forth saying
                    right.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="addvertise">
              <a href=""><img src="img/banner/add.jpg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--================ Editors Picks section end =================-->

    <!--================ Video section start =================-->

    <div class="video-area background_one area-padding">
      <div class="container">
        <div class="row">
          <div class="area-heading">
            <h3>Latest Videos</h3>
            <p>
              Abundantly creeping saw forth spirit can made appear fourth us.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="single-blog video-style">
              <div class="thumb">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe
                    class="embed-responsive-item"
                    src="https://www.facebook.com/plugins/video.php?height=322&href=https%3A%2F%2Fwww.facebook.com%2F110598575050639%2Fvideos%2F1092892284980782%2F&show_text=false&width=560&t=0"
                    width="560"
                    height="322"
                    style="border: none; overflow: hidden"
                    scrolling="no"
                    frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                    allowFullScreen="true"
                    data-controls="false"
                  ></iframe>
                </div>
                <!-- <img class="img-fluid" src="img/magazine/11.jpg" alt="" />
                <div class="play_btn">
                  <a
                    class="play-video"
                    href="https://www.youtube.com/watch?v=MrRvX5I8PyY"
                    data-animate="zoomIn"
                    data-duration="1.5s"
                    data-delay="0.1s"
                    ><span class="ti-control-play"></span
                  ></a>
                </div>-->
              </div>
              <!-- <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#">shoes</a>/
                  <a href="#">March 15, 2019</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>
                    Created face stars sixth forth fow Earth firmament meat
                  </h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#"><i class="ti-comment"></i>05 comment</a>
                  <a href="#"><i class="ti-heart"></i> 0 like</a>
                  <a href="#"><i class="ti-eye"></i> 1k view</a>
                </div>
              </div> -->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="single-blog video-style small row m_b_30">
              <div class="thumb col-12 col-sm-5">
                <img
                  class="img-fluid"
                  src="../../assets/images/bg-5.jpg"
                  alt=""
                />
                <div class="play_btn">
                  <a
                    class="play-video"
                    href="https://fb.watch/eujiwCUV59/"
                    data-animate="zoomIn"
                    data-duration="1.5s"
                    data-delay="0.1s"
                    ><span class="ti-control-play">
                      <i class="fa-solid fa-play"></i></span
                  ></a>
                </div>
              </div>
              <div class="short_details col-12 col-sm-7">
                <div class="meta-top d-flex">
                  <a href="#">Beauty</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>Blessed night morning on them you great</h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#"><i class="ti-time"></i>mar 12</a>
                  <a href="#"><i class="ti-heart"></i> 0 like</a>
                  <a href="#"><i class="ti-eye"></i> 1k view</a>
                </div>
              </div>
            </div>

            <div class="single-blog video-style small row m_b_30">
              <div class="thumb col-12 col-sm-5">
                <img class="img-fluid" src="img/magazine/13.jpg" alt="" />
                <div class="play_btn">
                  <a
                    class="play-video"
                    href="https://www.youtube.com/watch?v=MrRvX5I8PyY"
                    data-animate="zoomIn"
                    data-duration="1.5s"
                    data-delay="0.1s"
                    ><span class="ti-control-play">
                      <i class="fa-solid fa-play"></i></span
                  ></a>
                </div>
              </div>
              <div class="short_details col-12 col-sm-7">
                <div class="meta-top d-flex">
                  <a href="#">Beauty</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>Blessed night morning on them you great</h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#"><i class="ti-time"></i>mar 12</a>
                  <a href="#"><i class="ti-heart"></i> 0 like</a>
                  <a href="#"><i class="ti-eye"></i> 1k view</a>
                </div>
              </div>
            </div>

            <div class="single-blog video-style small row">
              <div class="thumb col-12 col-sm-5">
                <img class="img-fluid" src="img/magazine/14.jpg" alt="" />
                <div class="play_btn">
                  <a
                    class="play-video"
                    href="https://www.youtube.com/watch?v=MrRvX5I8PyY"
                    data-animate="zoomIn"
                    data-duration="1.5s"
                    data-delay="0.1s"
                    ><span class="ti-control-play">
                      <i class="fa-solid fa-play"></i
                    ></span>
                  </a>
                </div>
              </div>
              <div class="short_details col-12 col-sm-7">
                <div class="meta-top d-flex">
                  <a href="#">Beauty</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>Blessed night morning on them you great</h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#"><i class="ti-time"></i>mar 12</a>
                  <a href="#"><i class="ti-heart"></i> 0 like</a>
                  <a href="#"><i class="ti-eye"></i> 1k view</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--================ Video section end =================-->

    <!--================ three-block section start =================-->

    <div class="three-block area-padding">
      <div class="container">
        <div class="row">
          <div class="area-heading">
            <h3>Fashion News</h3>
            <p>
              Abundantly creeping saw forth spirit can made appear fourth us.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="single-blog style-five">
              <div class="thumb">
                <img class="img-fluid" src="img/magazine/15.jpg" alt="" />
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#">shoes</a>/
                  <a href="#">March 15, 2019</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>Shall for rule whose toge one may heaven to dat</h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#"><i class="ti-comment"></i>05 comment</a>
                  <a href="#"><i class="ti-heart"></i> 0 like</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="single-blog style-five">
              <div class="thumb">
                <img class="img-fluid" src="img/magazine/16.jpg" alt="" />
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#">shoes</a>/
                  <a href="#">March 15, 2019</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>Shall for rule whose toge one may heaven to dat</h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#"><i class="ti-comment"></i>05 comment</a>
                  <a href="#"><i class="ti-heart"></i> 0 like</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="single-blog style-five">
              <div class="thumb">
                <img class="img-fluid" src="img/magazine/17.jpg" alt="" />
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#">shoes</a>/
                  <a href="#">March 15, 2019</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>Shall for rule whose toge one may heaven to dat</h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#"><i class="ti-comment"></i>05 comment</a>
                  <a href="#"><i class="ti-heart"></i> 0 like</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--================ three-block section end =================-->

    <!--================ Latest news section start =================-->

    <div class="latest-news area-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="area-heading">
            <h3>Fashion News</h3>
            <p>
              Abundantly creeping saw forth spirit can made appear fourth us.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="single-blog style-five">
              <div class="thumb">
                <img class="img-fluid" src="img/magazine/18.jpg" alt="" />
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#">shoes</a>/
                  <a href="#">March 15, 2019</a>
                </div>
                <a class="d-block" href="single-blog.html">
                  <h4>Brought dreepeth youll blessed from whose signs over</h4>
                </a>
                <div class="meta-bottom d-flex">
                  <a href="#"><i class="ti-comment"></i>05 comment</a>
                  <a href="#"><i class="ti-heart"></i> 0 like</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6">
                <div class="single-blog style-five small">
                  <div class="thumb">
                    <img class="img-fluid" src="img/magazine/19.jpg" alt="" />
                  </div>
                  <div class="short_details">
                    <div class="meta-top d-flex">
                      <a href="#">shoes</a>/
                      <a href="#">March 15, 2019</a>
                    </div>
                    <a class="d-block" href="single-blog.html">
                      <h4>Shall for rule whoses may heaven to</h4>
                    </a>
                    <div class="meta-bottom d-flex">
                      <a href="#">March 15, 2019</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="single-blog style-five small">
                  <div class="thumb">
                    <img class="img-fluid" src="img/magazine/20.jpg" alt="" />
                  </div>
                  <div class="short_details">
                    <div class="meta-top d-flex">
                      <a href="#">shoes</a>/
                      <a href="#">March 15, 2019</a>
                    </div>
                    <a class="d-block" href="single-blog.html">
                      <h4>Shall for rule whoses may heaven to</h4>
                    </a>
                    <div class="meta-bottom d-flex">
                      <a href="#">March 15, 2019</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="single-blog style-five small">
                  <div class="thumb">
                    <img class="img-fluid" src="img/magazine/21.jpg" alt="" />
                  </div>
                  <div class="short_details">
                    <div class="meta-top d-flex">
                      <a href="#">shoes</a>/
                      <a href="#">March 15, 2019</a>
                    </div>
                    <a class="d-block" href="single-blog.html">
                      <h4>Shall for rule whoses may heaven to</h4>
                    </a>
                    <div class="meta-bottom d-flex">
                      <a href="#">March 15, 2019</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="single-blog style-five small">
                  <div class="thumb">
                    <img class="img-fluid" src="img/magazine/22.jpg" alt="" />
                  </div>
                  <div class="short_details">
                    <div class="meta-top d-flex">
                      <a href="#">shoes</a>/
                      <a href="#">March 15, 2019</a>
                    </div>
                    <a class="d-block" href="single-blog.html">
                      <h4>Shall for rule whoses may heaven to</h4>
                    </a>
                    <div class="meta-bottom d-flex">
                      <a href="#">March 15, 2019</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--================ Latest news section end =================-->
    <app-footer></app-footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../assets/js/home_js/jquery-2.2.4.min.js"></script>
    <script src="../../assets/js/home_js/popper.js"></script>
    <script src="../../assets/js/home_js/bootstrap.min.js"></script>
    <script src="../../assets/js/home_js/stellar.js"></script>
    <script src="../../assets/js/home_js/jquery.magnific-popup.min.js"></script>
    <script src="../../assets/js/home_js/jquery.ajaxchimp.min.js"></script>
    <script src="../../assets/js/home_js/waypoints.min.js"></script>
    <script src="../../assets/js/home_js/mail-script.js"></script>
    <script src="../../assets/js/home_js/contact.js"></script>
    <script src="../../assets/js/home_js/jquery.form.js"></script>
    <script src="../../assets/js/home_js/jquery.validate.min.js"></script>
    <script src="../../assets/js/home_js/mail-script.js"></script>
    <script src="../../assets/js/home_js/theme.js"></script>
  </body>
</html>
