

/*============ blog_left_sidebar css ==============*/
.blog_item {
  margin-bottom: 50px; }

.blog_details {
  padding: 30px 0 20px 10px;
  box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3); }
  @media (min-width: 768px) {
    .blog_details {
      padding: 60px 30px 35px 35px; } }
  .blog_details p {
    margin-bottom: 30px; }
  .blog_details a {
    color: #2a2a2a; }
    .blog_details a:hover {
      color: #ff7a7f; }
  .blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px; }
    @media (min-width: 768px) {
      .blog_details h2 {
        font-size: 24px;
        margin-bottom: 15px; } }

.blog-info-link li {
  float: left;
  font-size: 14px; }
  .blog-info-link li a {
    color: #999999; }
  .blog-info-link li i, .blog-info-link li span {
    font-size: 13px;
    margin-right: 5px; }
  .blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px; }
  .blog-info-link li:last-child::after {
    display: none; }
.blog-info-link::after {
  content: "";
  display: block;
  clear: both;
  display: table; }

.blog_item_img {
  position: relative; }
  .blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background: #ff7a7f;
    padding: 8px 15px;
    border-radius: 5px; }
    @media (min-width: 768px) {
      .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px; } }
    .blog_item_img .blog_item_date h3 {
      font-size: 22px;
      font-weight: 600;
      color: #fff;
      margin-bottom: 0;
      line-height: 1.2; }
      @media (min-width: 768px) {
        .blog_item_img .blog_item_date h3 {
          font-size: 30px; } }
    .blog_item_img .blog_item_date p {
      margin-bottom: 0; }
      @media (min-width: 768px) {
        .blog_item_img .blog_item_date p {
          font-size: 18px; } }

.blog_right_sidebar .widget_title {
  font-size: 20px;
  margin-bottom: 40px;
  color: #2a2a2a; }
  .blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff; }
.blog_right_sidebar .single_sidebar_widget {
  background: #fbf9ff;
  padding: 30px;
  margin-bottom: 30px; }
.blog_right_sidebar .search_widget .form-control {
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999999;
  padding-left: 20px;
  border-radius: 0;
  border-right: 0; }
  .blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999999; }
  .blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none; }
.blog_right_sidebar .search_widget .input-group button {
  background: #fff;
  border-left: 0;
  border: 1px solid #f0e9ff;
  padding: 4px 15px;
  border-left: 0; }
  .blog_right_sidebar .search_widget .input-group button i, .blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999999; }
.blog_right_sidebar .newsletter_widget .form-control {
  height: 50px;
  border-color: #f0e9ff;
  font-size: 13px;
  color: #999999;
  padding-left: 20px;
  border-radius: 0; }
  .blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999999; }
  .blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none; }
.blog_right_sidebar .newsletter_widget .input-group button {
  background: #fff;
  border-left: 0;
  border: 1px solid #f0e9ff;
  padding: 4px 15px;
  border-left: 0; }
  .blog_right_sidebar .newsletter_widget .input-group button i, .blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #999999; }
.blog_right_sidebar .post_category_widget .cat-list li {
  border-bottom: 1px solid #f0e9ff;
  transition: all 0.3s ease 0s;
  padding-bottom: 12px; }
  .blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0; }
  .blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888888; }
    .blog_right_sidebar .post_category_widget .cat-list li a p {
      margin-bottom: 0px; }
  .blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px; }
  .blog_right_sidebar .post_category_widget .cat-list li:hover a {
    color: #ff7a7f; }
.blog_right_sidebar .popular_post_widget .post_item .media-body {
  justify-content: center;
  align-self: center;
  padding-left: 20px; }
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear; }
  .blog_right_sidebar .popular_post_widget .post_item .media-body a {
    color: #2a2a2a; }
    .blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
      color: #ff7a7f; }
  .blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px; }
.blog_right_sidebar .popular_post_widget .post_item + .post_item {
  margin-top: 20px; }
.blog_right_sidebar .tag_cloud_widget ul li {
  display: inline-block; }
  .blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 5px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px; }
    .blog_right_sidebar .tag_cloud_widget ul li a:hover {
      background: #ff7a7f;
      color: #fff; }
.blog_right_sidebar .instagram_feeds .instagram_row {
  display: flex;
  margin-right: -6px;
  margin-left: -6px; }
  .blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px; }
.blog_right_sidebar .br {
  width: 100%;
  height: 1px;
  background: #eeeeee;
  margin: 30px 0px; }

.blog-pagination {
  margin-top: 80px; }

.blog-pagination .page-link {
  font-size: 14px;
  position: relative;
  display: block;
  padding: 0;
  text-align: center;
  margin-left: -1px;
  line-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 0 !important;
  color: #8a8a8a;
  border: 1px solid #f0e9ff;
  margin-right: 10px; }
  .blog-pagination .page-link i, .blog-pagination .page-link span {
    font-size: 13px; }
  .blog-pagination .page-link:hover {
    background-color: #ff7a7f;
    color: #fff; }

.blog-pagination .page-item.active .page-link {
  background-color: #fbf9ff;
  border-color: #f0e9ff;
  color: #888888; }

.blog-pagination .page-item:last-child .page-link {
  margin-right: 0; }

/*============ Start Blog Single Styles  =============*/
.single-post-area .blog_details {
  box-shadow: none;
  padding: 0; }
.single-post-area .social-links {
  padding-top: 10px; }
  .single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px; }
    .single-post-area .social-links li a {
      color: #cccccc;
      padding: 7px;
      font-size: 14px;
      transition: all 0.2s linear; }
      .single-post-area .social-links li a:hover {
        color: #2a2a2a; }
.single-post-area .blog_details {
  padding-top: 26px; }
  .single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px; }
  .single-post-area .blog_details h2 {
    color: #2a2a2a; }
.single-post-area .quote-wrapper {
  background: rgba(130, 139, 178, 0.1);
  padding: 15px;
  line-height: 1.733;
  color: #888888;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .single-post-area .quote-wrapper {
      padding: 30px; } }
.single-post-area .quotes {
  background: #fff;
  padding: 15px 15px 15px 20px;
  border-left: 2px solid #ff7a7f; }
  @media (min-width: 768px) {
    .single-post-area .quotes {
      padding: 25px 25px 25px 30px; } }
.single-post-area .arrow {
  position: absolute; }
  .single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600; }
.single-post-area .thumb .overlay-bg {
  background: rgba(0, 0, 0, 0.8); }
.single-post-area .navigation-top {
  padding-top: 15px;
  border-top: 1px solid #f0e9ff; }
  .single-post-area .navigation-top p {
    margin-bottom: 0; }
  .single-post-area .navigation-top .like-info {
    font-size: 14px; }
    .single-post-area .navigation-top .like-info i, .single-post-area .navigation-top .like-info span {
      font-size: 16px;
      margin-right: 5px; }
  .single-post-area .navigation-top .comment-count {
    font-size: 14px; }
    .single-post-area .navigation-top .comment-count i, .single-post-area .navigation-top .comment-count span {
      font-size: 16px;
      margin-right: 5px; }
  .single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px; }
    .single-post-area .navigation-top .social-icons li:last-child {
      margin: 0; }
    .single-post-area .navigation-top .social-icons li i, .single-post-area .navigation-top .social-icons li span {
      font-size: 14px;
      color: #999999; }
    .single-post-area .navigation-top .social-icons li:hover i, .single-post-area .navigation-top .social-icons li:hover span {
      color: #ff7a7f; }
.single-post-area .blog-author {
  padding: 40px 30px;
  background: #fbf9ff;
  margin-top: 50px; }
  @media (max-width: 600px) {
    .single-post-area .blog-author {
      padding: 20px 8px; } }
  .single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px; }
    @media (max-width: 600px) {
      .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px; } }
  .single-post-area .blog-author a {
    display: inline-block;
    color: #2a2a2a; }
    .single-post-area .blog-author a:hover {
      color: #ff7a7f; }
  .single-post-area .blog-author p {
    margin-bottom: 0;
    font-size: 15px; }
  .single-post-area .blog-author h4 {
    font-size: 16px; }
.single-post-area .navigation-area {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
  margin-top: 55px; }
  .single-post-area .navigation-area p {
    margin-bottom: 0px; }
  .single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2a2a2a; }
  .single-post-area .navigation-area .nav-left {
    text-align: left; }
    .single-post-area .navigation-area .nav-left .thumb {
      margin-right: 20px;
      background: #000; }
      .single-post-area .navigation-area .nav-left .thumb img {
        transition: all 300ms linear 0s; }
    .single-post-area .navigation-area .nav-left .lnr {
      margin-left: 20px;
      opacity: 0;
      transition: all 300ms linear 0s; }
    .single-post-area .navigation-area .nav-left:hover .lnr {
      opacity: 1; }
    .single-post-area .navigation-area .nav-left:hover .thumb img {
      opacity: .5; }
    @media (max-width: 767px) {
      .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px; } }
  .single-post-area .navigation-area .nav-right {
    text-align: right; }
    .single-post-area .navigation-area .nav-right .thumb {
      margin-left: 20px;
      background: #000; }
      .single-post-area .navigation-area .nav-right .thumb img {
        transition: all 300ms linear 0s; }
    .single-post-area .navigation-area .nav-right .lnr {
      margin-right: 20px;
      opacity: 0;
      transition: all 300ms linear 0s; }
    .single-post-area .navigation-area .nav-right:hover .lnr {
      opacity: 1; }
    .single-post-area .navigation-area .nav-right:hover .thumb img {
      opacity: .5; }
@media (max-width: 991px) {
  .single-post-area .sidebar-widgets {
    padding-bottom: 0px; } }

.comments-area {
  background: transparent;
  border-top: 1px solid #eee;
  padding: 45px 0;
  margin-top: 50px; }
  @media (max-width: 414px) {
    .comments-area {
      padding: 50px 8px; } }
  .comments-area h4 {
    margin-bottom: 35px;
    color: #2a2a2a;
    font-size: 18px; }
  .comments-area h5 {
    font-size: 16px;
    margin-bottom: 0px; }
  .comments-area a {
    color: #2a2a2a; }
  .comments-area .comment-list {
    padding-bottom: 48px; }
    .comments-area .comment-list:last-child {
      padding-bottom: 0px; }
    .comments-area .comment-list.left-padding {
      padding-left: 25px; }
    @media (max-width: 413px) {
      .comments-area .comment-list .single-comment h5 {
        font-size: 12px; }
      .comments-area .comment-list .single-comment .date {
        font-size: 11px; }
      .comments-area .comment-list .single-comment .comment {
        font-size: 10px; } }
  .comments-area .thumb {
    margin-right: 20px; }
    .comments-area .thumb img {
      width: 70px;
      border-radius: 50%; }
  .comments-area .date {
    font-size: 14px;
    color: #999999;
    margin-bottom: 0;
    margin-left: 20px; }
  .comments-area .comment {
    margin-bottom: 10px;
    color: #777777;
    font-size: 15px; }
  .comments-area .btn-reply {
    background-color: transparent;
    color: #888888;
    padding: 5px 18px;
    font-size: 14px;
    display: block;
    font-weight: 400; }

.comment-form {
  border-top: 1px solid #eee;
  padding-top: 45px;
  margin-top: 50px;
  margin-bottom: 20px; }
  .comment-form .form-group {
    margin-bottom: 30px; }
  .comment-form h4 {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    color: #2a2a2a; }
  .comment-form .name {
    padding-left: 0px; }
    @media (max-width: 767px) {
      .comment-form .name {
        padding-right: 0px;
        margin-bottom: 1rem; } }
  .comment-form .email {
    padding-right: 0px; }
    @media (max-width: 991px) {
      .comment-form .email {
        padding-left: 0px; } }
  .comment-form .form-control {
    border: 1px solid #f0e9ff;
    border-radius: 5px;
    height: 48px;
    padding-left: 18px;
    font-size: 13px;
    background: transparent; }
    .comment-form .form-control:focus {
      outline: 0;
      box-shadow: none; }
    .comment-form .form-control::placeholder {
      font-weight: 300;
      color: #999999; }
    .comment-form .form-control::placeholder {
      color: #777777; }
  .comment-form textarea {
    padding-top: 18px;
    border-radius: 12px;
    height: 100% !important; }
  .comment-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
    color: #797979 !important ; }
  .comment-form ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
    color: #797979 !important ; }
  .comment-form :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
    color: #797979 !important ; }
  .comment-form :-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px;
    color: #797979 !important ; }

/*============ End Blog Single Styles  =============*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/


.button {
  font-family: "Josefin Sans", sans-serif;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 54px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #ff7a7f;
  text-transform: uppercase;
  background: #ff7a7f;
  cursor: pointer;
  transition: all 300ms linear 0s;
}
